@inherits LayoutComponentBase

<PageTitle>OpticMoneyWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h3>Optic Money</h3>
        </div>

        <article class="content body-bg px-4">
            @Body
        </article>
    </main>
</div>