@inherits LayoutComponentBase

<PageTitle>Optic Money</PageTitle>

<div class="page">

    <main>
        <NavBar/>
        <article class="content body-bg px-4">
            @Body
        </article>
    </main>
</div>