<section class="top-row px-4">
    <div><a href="" class="navbar-title">Optic Money</a></div>
        <div><a href="" class="nav-option"><span class="oi oi-home" aria-hidden="true"></span> Home</a></div>
    <div><a href="" class="nav-option"><span class="oi oi-home" aria-hidden="true"></span> Futures</a></div>
    <div><a href="" class="nav-option"><span class="oi oi-home" aria-hidden="true"></span> Crypto</a></div>
</section>

@code {

}